{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "PutMetrics",
      "Action": [
        "cloudwatch:PutMetricData"
      ],
      "Effect": "Allow",
      "Resource": "*"
    },
    {
        "Sid": "WriteLogs",
        "Action": [
            "logs:CreateLogGroup",
            "logs:CreateLogStream",
            "logs:PutLogEvents"
        ],
        "Effect":"Allow",
        "Resource": "arn:aws:logs:*:*:*"
    },
    {
      "Sid": "GetStats",
      "Action": [
        "logs:DescribeLogGroups",
        "logs:DescribeLogStreams"
      ],
      "Effect": "Allow",
      "Resource": "*"
    }
  ]
}